<h1> Favoritos</h1>
   <div *ngIf= "productosEnFavorito.length === 0">
    <p>No hay productos en Favoritos</p>
   </div>
   <table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of productosEnFavorito; let i = index">
            <td><img [src] = "item.producto.imagen" alt="{{item.producto.nombre}}" style="width: 30%; height: 100%"></td>
            <td>{{ item.producto.nombre}}</td>
            <td>{{ item.producto.precio}}</td>
            <td>
                <button (click) ="eliminarProductoFav(item.producto.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
   </table> 
