.admin-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.titulo {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-card {
  background: #ffffffdd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px #0003;
}

.fila {
  display: flex;
  gap: 15px;
}

.campo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #bbb;
}

.talles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.talle-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.preview img {
  width: 150px;
  border-radius: 10px;
  margin-top: 10px;
}

.acciones {
  margin-top: 20px;
  text-align: center;
}

.guardar {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  border: none;
}
