<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/inicio"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-FSESiP0K77GTjgPrBGDmKafHY9epE6y_Ig&s" alt="" width="100px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/producto">Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quienesomos">Quienes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/favoritos"><i class="fa-solid fa-heart"></i></a>
          </li>
                <li class="nav-item">
            <a class="nav-link" routerLink="/iniciodesesion">Inicio de Sesión</a>
          </li>
           <li>
        </li> 
           <li class="nav-item">
            <a class="nav-link" routerLink="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
             <li>
          <a [routerLink]="['/carrito']">
            <i class="bi bi-cart"></i>
            <span *ngIf="cantidadProductos >0">
              ({{cantidadProductos}})
            </span>
          </a>
        </li> 
         </ul>
          <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </div>
  </nav>

