<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/inicio"><img src="https://images.whatnot.com/eyJidWNrZXQiOiAid2hhdG5vdC1pbWFnZXMiLCAia2V5IjogInVzZXJzLzE2MDc1MzcvNGViY2E1ZmQtMTUxYS00NWE4LWFlMjktYWQ0ODgyNDBjYjlkLmpwZWciLCAiZWRpdHMiOiB7InJlc2l6ZSI6IHsid2lkdGgiOiAyNTAsICJoZWlnaHQiOiBudWxsLCAiZml0IjogImNvbnRhaW4iLCAiYmFja2dyb3VuZCI6IHsiciI6IDI1NSwgImciOiAyNTUsICJiIjogMjU1LCAiYWxwaGEiOiAxfX19fQ==?signature=addc7dd8079cdb2f7bb76b3388c65426f9ab202c6ce82f75c0fcb5e5de405ec3" alt="" width="100px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/producto">Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/novedades">Novedades</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="/favoritos">Favoritos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quienesomos">Quienes somos</a>
          </li>
                <li class="nav-item">
            <a class="nav-link" routerLink="/iniciodesesion">Inicio de Sesión</a>
          </li>
           <li>
        </li> 
           <li class="nav-item">
            <a class="nav-link" routerLink="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
             <li>
          <a [routerLink]="['/carrito']">
            <i class="bi bi-cart"></i>
            <span *ngIf="cantidadProductos >0">
              ({{cantidadProductos}})
            </span>
          </a>
        </li> 
         </ul>
          <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </div>
  </nav>

