<div class="card-container">
  <div class="card-box">

    <!-- TÍTULO -->
    <h2>
      <i class="bi bi-person-circle"></i>
      Iniciar Sesión
    </h2>

    <!-- FORMULARIO -->
    <form (ngSubmit)="onLogin()" class="card-form">

      <!-- EMAIL -->
      <div class="input-group">
        <label for="email">
          <i class="bi bi-envelope-fill"></i> Email
        </label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="usuario.email"
          required
          placeholder="Introduce tu Email"
        />
      </div>

      <!-- PASSWORD -->
      <div class="input-group">
        <label for="password">
          <i class="bi bi-lock-fill"></i> Contraseña
        </label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="usuario.password"
          required
          placeholder="Introduce tu contraseña"
        />
      </div>

      <!-- BOTÓN -->
      <button type="submit" class="card-btn">
        <i class="bi bi-box-arrow-in-right"></i> Entrar
      </button>

      <!-- SEPARADOR -->
      <div class="or-text">
        ─── o ───
      </div>

      <!-- REGISTRO -->
      <div class="signup-text">
        <p>¿No tienes cuenta?
          <a routerLink="/registro">Regístrate aquí</a>
        </p>
      </div>

    </form>

  </div>
</div>
