<div class="about-container">
  <h1>Acerca de nosotros</h1>
  <div class="features">
    <div class="feature">
      <img src="https://media.canva.com/v2/image-resize/format:PNG/height:550/quality:100/uri:ifs%3A%2F%2FM%2Fbba14a1f-ff78-43f2-aaf4-c3506868abc3/watermark:F/width:550?csig=AAAAAAAAAAAAAAAAAAAAAG0awFc07okXY8qLnhou48Okhp2Yau9whdAjE3oov2HZ&exp=1755621765&osig=AAAAAAAAAAAAAAAAAAAAAI4A8hRJjH45oYMEbT6AQ1CJuw9v5YqZgQ8c9VtG2oYw&signer=media-rpc&x-canva-quality=thumbnail_large" alt="Zapatillas" />
      <p><strong>Trabajamos solo zapatillas originales.</strong><br>No trabajamos con réplicas.</p>
    </div>
    <div class="feature">
      <img src="https://media.canva.com/v2/image-resize/format:PNG/height:512/quality:100/uri:ifs%3A%2F%2FM%2Fd7dd8d2b-2ba1-467a-a527-6e487c657a23/watermark:F/width:512?csig=AAAAAAAAAAAAAAAAAAAAAJfxAQspUC2shMUxhYTis1K2Ip-NwZvEfaEQRjPsqO1f&exp=1755622747&osig=AAAAAAAAAAAAAAAAAAAAANZv0CLl4ylJahKMhAmAv1mkYXxyoNNbRBs3Mk64EkNL&signer=media-rpc&x-canva-quality=thumbnail_large" alt="Envíos" />
      <p>Envíos a todo el país.</p>
    </div>
    <div class="feature">
      <img src="https://media.canva.com/v2/image-resize/format:PNG/height:550/quality:100/uri:ifs%3A%2F%2FM%2F260e30e8-3656-4f4a-86da-28941564b338/watermark:F/width:548?csig=AAAAAAAAAAAAAAAAAAAAAJfeNqAkaD-nJ3PK_Eu6c4zfd8oAKMzyTnhnv07ehZcO&exp=1755622195&osig=AAAAAAAAAAAAAAAAAAAAAE5TDN_9hr709lZTXKkDBIfzE7F99nH0xiDJPc6m2Tmh&signer=media-rpc&x-canva-quality=thumbnail_large" alt="WhatsApp" />
      <p>Rápida respuesta en consultas.</p>
    </div>
  </div>
</div>
