<div class="about-container">
  <h1>Acerca de nosotros</h1>
  <div class="features">
    <div class="feature">
      <img src="https://media.canva.com/v2/image-resize/format:PNG/height:550/quality:100/uri:ifs%3A%2F%2FM%2Fbba14a1f-ff78-43f2-aaf4-c3506868abc3/watermark:F/width:550?csig=AAAAAAAAAAAAAAAAAAAAAFN5FNonjurhhCN0J2vYWJG-sh5I-wdSgIq1LVQGKSt2&exp=1756435365&osig=AAAAAAAAAAAAAAAAAAAAAH3qXcVheoA28X9gcRztKzGZOkdxmmt6E8RcqCQgHeuh&signer=media-rpc&x-canva-quality=thumbnail_large" alt="Zapatillas" />
      <p><strong>Trabajamos solo zapatillas originales.</strong><br>No trabajamos con réplicas.</p>
    </div>
    <div class="feature">
      <img src="https://media.canva.com/v2/image-resize/format:PNG/height:512/quality:100/uri:ifs%3A%2F%2FM%2Fd7dd8d2b-2ba1-467a-a527-6e487c657a23/watermark:F/width:512?csig=AAAAAAAAAAAAAAAAAAAAAN12yII9kEOioX3KnJWdywfuiZTAtLsg28ojTom_A_Nf&exp=1756436347&osig=AAAAAAAAAAAAAAAAAAAAAAEeCDN_uIgh_uS4s0S4w9QNTcsP3h1dPHw-FUKs3gAc&signer=media-rpc&x-canva-quality=thumbnail_large" alt="Envíos" />
      <p>Envíos a todo el país.</p>
    </div>
    <div class="feature">
      <img src="https://media.canva.com/v2/image-resize/format:PNG/height:550/quality:100/uri:ifs%3A%2F%2FM%2F260e30e8-3656-4f4a-86da-28941564b338/watermark:F/width:548?csig=AAAAAAAAAAAAAAAAAAAAABn0hwVVcDOZ79c1exGPbq0-5hEMhJKdafdnQp48CNIw&exp=1756435795&osig=AAAAAAAAAAAAAAAAAAAAALj8OWBiiYT1ryg6OvoQSF6wN1nJlsV5qib5rrnRTUNb&signer=media-rpc&x-canva-quality=thumbnail_large" alt="WhatsApp" />
      <p>Rápida respuesta en consultas.</p>
    </div>
  </div>
</div>
