<h1> Carrito de compras</h1>
   <div *ngIf= "productosEnCarrito.length === 0">
    <p>No hay productos en el Carrito</p>
   </div>
   <table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of productosEnCarrito; let i = index">
            <td><img [src] = "item.producto.imagen" alt="{{item.producto.nombre}}" style="width: 40%; height: 100%"></td>
            <td>{{ item.producto.nombre}}</td>
            <td>{{ item.producto.precio}}</td>
            <td data-label="Cantidad">
                <div class="quantity-buttons">
                <button (click) ="quitarCantidad(i)">-</button>
                {{item.cantidad}}
                <button (click) ="agregarCantidad(i)">+</button>
                </div>
            </td>
            <td>
                <button (click) ="eliminarProducto(item.producto.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
   </table> 
   <button (click) = "realizarCompra()" class="btn btn-success">Realizar Compra</button>
