<div class="admin-container">

  <h2 class="titulo">Productos existentes</h2>

  <div class="acciones-superior">
    <button class="btn agregar" (click)="agregarNuevo()">+ Agregar producto</button>
  </div>

  <div class="tabla-container">
    <table class="tabla">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Marca</th>
          <th>Talles</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of productos">
          <td>
            <img *ngIf="p.imagen"
                 [src]="'http://localhost/api_proyecto/public/uploads/' + p.imagen"
                 class="thumb" />
          </td>

          <td>{{ p.nombre }}</td>
          <td>{{ p.marca }}</td>
          <td>{{ p.tallesDisponibles?.join(', ') }}</td>
          <td>$ {{ p.precio }}</td>
          <td>{{ p.stock }}</td>

          <td class="acciones-tabla">
            <button class="btn editar" (click)="editar(p.id)">Editar</button>
            <button class="btn eliminar" (click)="eliminar(p.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>
