.admin-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  color: #fff;
}

.titulo {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.acciones-superior {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.agregar {
  background: #ff8b3d;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.tabla-container {
  background: #ffffff22;
  padding: 20px;
  border-radius: 12px;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color: white;
}

.tabla th {
  background: #00000055;
  padding: 10px;
  color: #ffdbc1;
}

.tabla td {
  padding: 12px;
  border-bottom: 1px solid #ffffff33;
}

.thumb {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  object-fit: cover;
}

.btn {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.editar {
  background: #ff8b3d;
  color: white;
}

.eliminar {
  background: #c4302b;
  color: white;
}
