<footer class="footer">
  <div class="footer-content">

    <!-- Redes -->
    <div class="footer-section">
      <p>REDES</p>
      <a href="https://www.instagram.com/wegotkicks.arg" target="_blank" class="footer-link">
        <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-512.png" alt="Instagram">
        <span>wegotkicks.arg</span>
      </a>
    </div>

    <!-- Contacto -->
    <div class="footer-section">
      <p>CONTACTO</p>
      <a href="mailto:wegotkicks@gmail.com" class="footer-link">
        <img src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_512px.png" alt="Gmail">
        <span>wegotkicks&#64;gmail.com</span>
      </a>
    </div>  

  </div>
</footer> 
  
